In [1]:
import pandas as pd

In [64]:
## dataframe 만들기

data_1 = {
    'year' : ["1992","1991","1994"],
    'gender' : ["male","female","female"],
    "city" : ["Ansan","seoul","Ansan"]
}
df_1 = pd.DataFrame(data_1) 
df_1

    city  gender  year
0  Ansan    male  1992
1  seoul  female  1991
2  Ansan  female  1994

In [65]:
df_1 = df_1.drop([0]) ### df_1.drop 만 쓰면 실제 데이터인 df_1에 영향을 주지 못한다.
df_1

    city  gender  year
1  seoul  female  1991
2  Ansan  female  1994

In [ ]:
data.drop()

In [2]:
## 데이터 불러오기
df_0 = pd.read_csv("D:/Users/Kwon/Desktop/DATABASE/kkbox-churn-prediction-challenge/first/transactions_v2.csv/data/churn_comp_refresh/transactions_v2.csv")

In [9]:
df_0[:98]

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
0,++6eU4LsQ3UQ20ILS7d99XK8WbiVgbyYL4FUgzZR134=,32,90,298,298,0,20170131,20170504,0
1,++lvGPJOinuin/8esghpnqdljm6NXS8m8Zwchc7gOeA=,41,30,149,149,1,20150809,20190412,0
2,+/GXNtXWQVfKrEDqYAzcSw2xSPYMKWNj22m+5XkVQZc=,36,30,180,180,1,20170303,20170422,0
3,+/w1UrZwyka4C9oNH3+Q8fUf3fD8R3EwWrx57ODIsqk=,36,30,180,180,1,20170329,20170331,1
4,+00PGzKTYqtnb65mPKPyeHXcZEwqiEzktpQksaaSC3c=,41,30,99,99,1,20170323,20170423,0
5,+0KcMm8JNCW08lTp3Lyz5Ger/47u3yj9H2xLf8lyAj8=,41,30,149,149,1,20151112,20180613,0
6,+0MeUJe1cGb4O97gJoTPUPjiONQzi9BmxDuKRZn+E2o=,41,30,99,99,1,20170313,20170413,0
7,+0W3Q9FSw8TLgoNke9JFl6dUeoxAOfuHarEexRPcJsA=,41,30,99,99,1,20170318,20170418,0
8,+0aofSeKQ/F2bhtAGW/zrdrw+lGVV6nmIdt8hJRTR/8=,41,30,99,99,1,20170316,20170416,0
9,+0c0aay0C6GHocNyfqE+46Ih4dYOy2P5xjc0GjGgBTE=,41,30,149,149,1,20170307,20170407,0
10,+0vdYjwKTJKP2OuVUWMqqjFKwp83QG4URcLg1vvFxek=,41,30,99,99,1,20170316,20170416,0
11,+1qe9o7V7yJ6CWz4nO2r/Y3a6lTIRf53Q7eSQyQBUJQ=,40,30,149,149,1,20170311,20170410,0
12,+1sa2M+60tj9HplZSnzW8BCiYEskEMTfwKrOhHjGb3I=,16,30,149,149,1,20170307,20170406,0
13,+27xILAVHhFBaiEcyfnRpCVmrYGP1XHNGrWSvXL9+eA=,41,30,99,99,1,20170326,20170426,0
14,+2HVGotjiE2ofWgVp37vLKGzJgBiUkdKRiBlf/Wji90=,41,30,99,99,1,20170331,20170430,0
15,+2y0N7JdEAgAO2zjWgPHqNHvGZsfXdfiegF7hZW86K8=,41,30,99,99,1,20170308,20170408,0
16,+3Z/2l0S7ui1s9FlZgsPYPUm3VOBhZGgW5toALP8VOg=,41,30,149,149,1,20150731,20171202,0
17,+50G1jyzn4OzqalwB5LJtY/pN+OytIoB3kaLFiH8eYw=,32,410,1788,1788,0,20160805,20170919,0
18,+5Yo2rxxC+x+kIYl4to0D1GTrKacKcaGG0sV38NLIn4=,34,30,149,149,1,20170331,20170430,0
19,+6YT5fhMwOfQJjT3miTTrnUGOZFIevPvfzT4jB6M+Po=,41,30,99,99,1,20170304,20170404,0
20,+7DOFGgynp17ptB9sjhwlH5Zoz/8bUWHudC7HlWQZG8=,41,30,99,99,1,20170326,20170426,0
21,+7zLPU/exjuHkWgWbPZlaTiISTa4wIz4JdSjrj09/HQ=,41,30,99,99,1,20170313,20170413,0
22,+80beh2T6i0UctXvcbhoGWaxqAWE0KMnACtHDItZvpU=,41,30,99,99,1,20170327,20170427,0
23,+84v5bP7WnUv89mJ4xODq4Elcze7B3ngzpePGNzd3+M=,41,30,99,99,1,20170301,20170401,0
24,+8Tt06N7mWIpAtWY9CH9Q2UbNCyepYpd7K9aLjP3MLQ=,39,30,149,149,1,20170228,20170408,0
25,+9WukYI6GOgOHx4YedRy4mVO/o6FgHl0tYWF8P9YwJU=,36,30,180,180,1,20170306,20170405,0
26,+BForXQeVUWKHbTM/nXSRGfhhzcWmfNfvz+HbE77Pjc=,39,30,149,149,1,20170331,20170516,0
27,+BO9E4mtFCY83STY/RhoorlIE3IaKfV0X6pwAg/fV4M=,36,30,180,180,1,20170303,20170402,0
28,+C42tIh4KdXUBTAje2rhUSvVtw7NPBkWqzfwajppZoQ=,41,30,99,99,1,20170326,20170426,0
29,+CesBVy2dkb+iZ2rBOCEEL9v3IMFEZJ5Sg//sGbTgek=,32,180,536,536,0,20170111,20170710,0
...,...,...,...,...,...,...,...,...,...
68,+ZLD2EVyD7TQs3gUwTUeWDce5ZxUOSNpAXFd0roNO9o=,39,30,149,149,1,20170331,20170516,0
69,+a/Jxlkz/vMQSDFWqPN0iMiItpaS19hz+KJaGC8GUh8=,40,30,149,149,1,20170315,20170414,0
70,+aRcuLAde9D1Pa5jh9feUYZO7Gr8Xzv8PFcoF2zwGkY=,41,30,99,99,1,20170307,20170407,0
71,+aiFzIir9Mt4sKPTALYnPotRXuLYiFXmWR8nSZiju2k=,38,410,1788,1788,0,20170301,20180415,0
72,+ak2q/qbFtBTOuxgNBc10DvO+cPoNgSvkW8vxuqwdn0=,36,30,180,180,0,20170325,20170424,0
73,+bOErLgfsLNDYRtNxjJUz46a7pACvmgJOtce3D7AExQ=,41,30,149,149,1,20170326,20170426,0
74,+bbcAGhRALEedOhNI1LD7RhZCZPEyMJ3yLLvHfFe7zo=,38,30,149,149,0,20170305,20170405,0
75,+bnLGdIZW5uxgyUA26TXwDMnTHTuDlbj4mFEAQtmmDo=,34,30,149,149,1,20170331,20170430,0
76,+cMA4KyKoDvHoY0TdD+Fy15YzWNUZx8aQLQ9Taqjchw=,41,30,99,99,1,20170303,20170403,0
77,+e4JTudZoG6ChK11v3Fql3C31Rkn5HixA3E0QW9G9j8=,41,30,99,99,1,20170301,20170401,0
78,+elp2JA0yY01xtVSJu2hZ/hUD1mzFjSBOrozKF5j7yc=,41,30,99,99,1,20170305,20170405,0
79,+gC7rzej268bkuxmo1LmhgCZMP5mUQtIVMrGJ5j4YfI=,41,30,99,99,1,20170316,20170416,0
80,+giWldjWimEMHhtEIVCjjadZnv9eWiy1aori9AJGGBg=,38,410,1788,1788,0,20160402,20170519,0
81,+hE9XWSj68wdPEaE8nyb4RN7i2xRRcN0VG13OUEJ4PE=,36,30,180,180,1,20170331,20170430,0
82,+hXL1k++YSAJWSqyZLw90gIMFQXG3zv639GSK8f5Qn0=,41,30,149,149,1,20151021,20180622,0
83,+hXL1k++YSAJWSqyZLw90gIMFQXG3zv639GSK8f5Qn0=,41,30,149,149,1,20151221,20181122,0
84,+hpbeoptGG/3IwegR2tBBVeUEwJyLmD1VOSbBZ7JrNY=,41,30,149,149,1,20170314,20170414,0
85,+jgz+vHOt1fGcSMOWPN/FltI96onXEZ2TFgnBIs+1bk=,39,30,149,149,1,20170228,20170407,0
86,+kJewHsNBANg1Ye4vVD+X/sOaB1Bmqb1dtXVg/bTduk=,41,30,99,99,1,20170315,20170415,0
87,+kdzMTBwnWkFvWCLiK94UXAzRubMomjCNXTpqVlM/WM=,20,100,480,480,0,20170107,20170417,0
88,+luMSYi5+xXLc13ZqgAMCQFS6Kq5VU4K4V/js4dH/aA=,41,30,99,99,1,20170327,20170427,0
89,+mHSDsy7ZhgyZ4YzYfOMcsVxxRTGVw14Oj/hCCb3vRY=,15,90,300,300,0,20170324,20170625,0
90,+mLM6ZtF9eBi2I3qG0/ATwjfMhdLbroQoCC9FmAOdJs=,38,90,477,477,0,20170218,20170519,0
91,+mM0jyxAgO+WXyjjj1T0lIs4vYbG0zScKm/ifZ6sQYc=,41,30,149,149,1,20170319,20170419,0
92,+mMDxiajZ3EUtEnjcT6DIOytj4CYIHlKYltqLCi1LzI=,36,30,180,180,1,20170329,20170509,0
94,+mhtZ9MVBuMNRtpVxH8Ylq+5XY091dEg2oTlIPwytLY=,41,30,99,99,1,20170320,20170420,0
95,+oSu90lv3jPvfM6N52fD1oUbYjVbc+rEYdliMfiV+K4=,36,30,180,180,1,20170302,20170402,0
96,+oxqcEkQGswxJPRpd/q9chPVke8NNqZR8ks+gTztukU=,41,30,149,149,1,20170305,20170405,0
97,+pKfx96ZcWr1azRPgiIdufXQBif/QDR+zRrk0zhGiek=,38,410,1788,1788,0,20160507,20170621,0
98,+q46Rzm2cTOYCfWNXvLtfb/vzJ/I0XVsHb4xebDzkvQ=,41,30,149,149,1,20151006,20170407,0

In [12]:
df_0[1:2] 
df_0['msno']

,msno,payment_method_id,payment_plan_days,plan_list_price,actual_amount_paid,is_auto_renew,transaction_date,membership_expire_date,is_cancel
1,++lvGPJOinuin/8esghpnqdljm6NXS8m8Zwchc7gOeA=,41,30,149,149,1,20150809,20190412,0

In [71]:
df_0.ix[0]##### = 첫번째 row (=index) 가져오기

msno                      ++6eU4LsQ3UQ20ILS7d99XK8WbiVgbyYL4FUgzZR134=
payment_method_id                                                   32
payment_plan_days                                                   90
plan_list_price                                                    298
actual_amount_paid                                                 298
is_auto_renew                                                        0
transaction_date                                              20170131
membership_expire_date                                        20170504
is_cancel                                                            0
Name: 0, dtype: object

In [20]:
len(df_0)
## 반복문 쓸때 그냥 for i in range(len(data)) 하면 실재 row 의 수만큼 돌아간다.

1431009

In [29]:
len_1 = []
for i in range(len(df_0)):
    len_1.append(i) 
len(len_1)
### len = 0 부터 시작 = range 는 0 부터 시작

1431009

In [34]:
### 로우 삭제
# data.drop(["로우 이름"])
### col 삭제
# data.drop("col이름")

In [ ]:
### row 인덱스 쓸때 : ix 말고 loc 써라

In [7]:
### list_price 가 0 인거 없애기
for i in range(len(df_0)):
    if df_0.loc[i]["plan_list_price"] == 0:
        print(df_0.loc[i])
        df_0 = df_0.drop([i])
    else:
        if df_0.loc[i]["plan_list_price"] != df_0.loc[i]["actual_amount_paid"]:
            print(df_0.loc[i])
            df_0 = df_0.drop([i])
        else:
            if df_0.loc[i]["payment_plan_days"] == 0:
                print(df_0.loc[i])
                df_0 = df_0.drop([i])

KeyError: 'the label [93] is not in the [index]'

In [77]:
df_0.ix[2]["actual_amount_paid"]

180

In [8]:
df_0.loc[93]

KeyError: 'the label [93] is not in the [index]'

In [6]:
df_0.ix[2]

msno                      +/GXNtXWQVfKrEDqYAzcSw2xSPYMKWNj22m+5XkVQZc=
payment_method_id                                                   36
payment_plan_days                                                   30
plan_list_price                                                    180
actual_amount_paid                                                 180
is_auto_renew                                                        1
transaction_date                                              20170303
membership_expire_date                                        20170422
is_cancel                                                            0
Name: 2, dtype: object